@media (max-width: 1200px)
  .info
    &-block
      &__content
        max-width: 450px
  .promo
    &-form
      &::before, &::after
        width: 71px
        top: 63px
      &::before
        left: -36px
      &::after
        right: -36px
      &__input
        &s
          &::before, &::after
            width: 10px
      &__button
        padding: 15px 35px
        font-size: 14px
        &:before, &::after
          width: 350px
        &::before
          left: -369px
        &::after
          left: 211px
  .services
    &-block
      &__img
        height: auto
        width: 450px
      &__text
        font-size: 14px
  .calculator
    &__blocks
      width: 550px
    &__input
      &-label
        padding: 16px 45px
        &_active
          width: 400px
          font-size: 14px
          top: 30px
          transform: translateX(-200px)
          background-size: contain
  .portfolio
    &__card
      width: 303px
      height: 203px
  .process
    &-block
      &__img
        height: 240px
  .quote
    &::before
      left: -50px
    &::after
      right: -50px
  .contacts
    &__subtitle
      font-size: 22px
    &-form
      width: 600px
      &__input
        max-width: 195px

@media (max-width: 991px) 
  .form
    &__input
      padding: 
        top: 15px
        bottom: 15px
        left: 20px
  .button
    padding: 15px 45px
    font-size: 14px
  .burger
    &-btn
      &:hover
        .burger
          &-btn
            &__row
              background-color: $alt-text-color
    &-menu
      width: 250px
      &__link
        &:hover
          background-color: transparent
  .promo
    &__title
      font-size: 46px
      &_subtext
        font-size: 42px
    &__subtitle
      font-size: 18px
    &-form
      &:before, &:after
        width: 67px
        top: 57px
      &::before
        left: -33px
      &::after
        right: -33px
      &__input
        &s
          &:before, &::after
            width: 20px
        max-width: 200px
      &__button
        margin-top: 22px
        &:before, &::after
          width: 220px
        &::before
          left: -240px
        &::after
          left: 230px
  .services
    &-block, &-block_reverse
      margin-bottom: 60px
      flex-direction: column
      &:last-child
        margin-bottom: 0
      &__img
        margin-bottom: 20px
  .calculator
    &__subtitle
      font-size: 20px
    &__form
      flex-direction: column
      align-items: center
    &__blocks
      margin-bottom: 40px
  .portfolio
    &__menu
      &-item
        font-size: 12px
        &_active
          &::before
            width: calc(100% + 16px)
            height: 55px
            left: -6px
    &__card
      width: 341px
      height: 241px
  .advantages
    &__advantage
      flex: 0 0 48%
      &:nth-child(2)
        margin-right: 0
  .process
    &-block
      &__img
        height: 180px
      &__text
        font-size: 24px
  .team
    &__person
      flex: 0 0 50%
      &-img
        width: 200px
        height: 200px
  .blog
    &-post
      &__img
        height: 220px
  .contacts
    &__wrap
      flex-direction: column
      align-items: center
    &-form
      margin:
        bottom: 40px
      width: 100%
      &__input
        max-width: 225px
    &-list
      justify-content: center
      display: flex
      flex-wrap: wrap
      &__item
        margin-right: 20px
        &:last-child
          margin-bottom: 20px
  .map
    height: 500px
  .footer
    &__menu
      &-block
        margin-right: 40px
    &__contacts
      &-list
        float: right

@media (max-width: 767px)
  .button
    &:hover
      color: $alt-text-color
      background-color: $accent-color
      box-shadow: none
  .burger
    &-menu
      width: 200px
  .header
    &__phone
      font-size: 18px
      &:hover
        color: $alt-text-color
  .burger
    &-btn
      margin-left: 40px
  .promo
    &__title
      font-size: 34px
      &_subtext
        font-size: 32px
    &__subtitle
      font-size: 16px
    &-form
      &::before
        left: 50%
        width: 280px
        top: -25px
        transform: rotate(0) translateX(-140px)
      &::after
        display: none
      &__input
        &s
          flex-direction: column
          align-items: center
          &:before, &::after
            transform: rotate(90deg)
            width: 237px
            top: 93px
            left: 100px
          &::before
            left: -4px
          &::after
            left: 276px
        margin:
          right: 0
          bottom: 10px
        width: 245px
        max-width: 100%
      &__button
        margin-top: 23px
        &:before, &::after
          width: 11px
        &::before
          left: -35px
        &::after
          left: 233px
    &__scroll-btn
      margin-top: 56px
  .calculator
    &__blocks
      width: 100%
  .portfolio
    &__menu
      flex-wrap: wrap
      &:before,&::after
        content: ''
        position: absolute
        height: 1px
        background-color: $accent-color
      &::before
        width: 93px
        top: 50%
        transform: rotate(90deg) translateY(50%)
      &::after
        width: calc(100% - 2px)
        left: 1px
        top: 50%
      &-item
        width: 50%
        &::before
          width: calc( 100% + 4px )
          left: -2px
        &:after 
          display: none
        &:first-child
          &::before
            border-bottom-left-radius: 0
        &:nth-child(2)
          &::before
            border-top-right-radius: 30px
            border-bottom-right-radius: 0
        &:nth-child(3)
          &::before
            border-bottom-left-radius: 30px
        &:last-child
          &::before
            border-top-right-radius: 0
            border-bottom-right-radius: 30px
    &__card
      width: 251px
      height: 151px
  .process
    &-block
      &__img
        height: 130px
      &__text
        font-size: 18px
  .blog
    &__wrap
      flex-direction: column
      align-items: center
    &-post
      &:first-child
        margin-bottom: 60px
      width: 100%
      &__img
        width: 100%
        height: 320px
  .contacts
    &-form
      &__input
        padding-left: 15px
        max-width: 165px
  .map
    height: 400px
  .footer
    &__wrap
      flex-direction: column
      align-items: center
    &__menu
      margin-bottom: 40px
    &__contacts
      &-list
        float: unset
        justify-content: center
  .popup
    &__form
      max-width: 550px
      &-close
        &:hover
          color: $main-text-color
      &-input
        width: 157px

@media (max-width: 576px)
  .title
    width: 90%
    margin: 
      left: auto
      right: auto
    font-size: 26px
    &::after
      width: 278px
      transform: translateX(-139px)
  .info
    &-block
      &__title
        margin-bottom: 5px
        text-align: center
        font-size: 24px
      &__text
        text-align-last: center
      &__btn
        margin:
          left: auto
          right: auto
        display: block
        
  .header
    &__contacts
      display: none
  .promo
    &__title
      font-size: 32px
      &_subtext
        font-size: 28px
    &-form
      &:before, &::after
        display: none
      &__input
        &s
          &:before, &::after
            display: none
      &__button
        &:before, &::after
          display: none
    &__scroll-btn
      display: none
  .services
    &-block
      &__img
        width: 100%
  .calculator
    &__block
      &-title
        text-align: center
    &__radio
      &-wrap
        flex-direction: column
        align-items: center
        &::before
          width: 155px
          left: 50%
          top: 0
          transform: rotate(90deg) translateX(50%) translateY(100px)
      &-label
        min-width: 80px
        text-align: left
        margin-left: 77px
        &::before
          bottom: 1px
          left: -30px
          transform: translatex(0)
        &::after
          bottom: 8px
          left: -23px
          transform: translateX(0)
        &:last-child
          margin-bottom: 0
      &-button:checked + .calculator__radio-label
        &:nth-child(2)
          &::before
            transform: translateX(-2px)
        &:last-child
          &::before
            transform: translateX(-2px)
        &::before
          bottom: -1px
          transform: translateX(-2px)
    &__input
      &-wrap
        flex-direction: column
        align-items: center
      &-label
        margin-bottom: 20px
        width: 240px
        &:last-child
          margin-bottom: 0
  .portfolio
    &__menu
      flex-direction: column
      &::before, &::after
        display: none
      &-item
        padding: 10px 20px
        width: 100%
        &:first-child
          padding-left: 20px
          &::before
            border-top-right-radius: 30px
            border-bottom-right-radius: 0
        &:nth-child(2)
          &::before
            border-radius: 0
        &:nth-child(3)
          &::before
            border-radius: 0
        &:last-child
          padding-right: 20px
          &::before
            border-radius: 0
            border-bottom-left-radius: 30px
            border-bottom-right-radius: 30px
        &_active
          &::before
            height: 40px
    &__wrap
      justify-content: center
    &__card
      width: 90%
      height: auto
      &:nth-last-child(-n+3)
        margin-bottom: 10px
      &:last-child
        margin-bottom: 0
  .advantages
    &__advantage
      flex: 0 0 90%
      margin-right: 0
      &:nth-child(5)
        margin-bottom: 60px
  .process
    padding-bottom: 25px
    &-block
      flex-direction: column
      &__img
        width: 90%
        height: 180px
      &__text
        padding: 40px
        width: 90%
  .team
    &__person
      flex: 0 0 100%
      &:nth-last-child(-n+3)
        margin-bottom: 50px
      &:last-child
        margin-bottom: 0
  .quote
    font-size: 14px
    &:before, &::after
      width: 30px
      height: 24px
    &::before
      left: -40px
    &::after
      right: -40px
    &__title
      line-height: 32px
    &__text
      text-align: justify
      text-align-last: center
  .blog
    &-post
      width: 90%
      &__img
        height: 100%
        max-height: 320px
  .contacts
    &-form
      margin: 
        left: auto
        right: auto
      width: 90%
      &__input
        margin-bottom: 10px
        width: 100%
        max-width: 100%
        &:last-child
          margin-bottom: 0
        &s
          flex-direction: column
    &-list
      width: 90%
      display: block
      &__item
        &:last-child
          display: block
          text-align: center
  .footer
    &__menu
      flex-direction: column
      justify-content: center
      text-align: center
      &-block
        margin-right: 0
        margin-bottom: 15px
        &:last-child
          margin-bottom: 0
  .popup
    &__form
      width: 90%
      &-close
        font-size: 32px
      &-input
        &s
          display: flex
          flex-direction: column
        margin-bottom: 15px
        padding-right: 20px
        width: 250px
        text-align: center
        &:last-child
          margin-bottom: 0
        
          